body {
    background-color: rgb(36, 36, 36);
    color: rgb(180, 180, 180);
    font-family: 'Lato', sans-serif;
    font-style: Light;
}

hr {
    margin: 40px 0 40px 0;
}

.card {
    /* border: none; */
}

p {
    font-size: 1.25rem;
}

span {
    color: #397AEB;
}


/* .card-text {
    font-size: 1.1rem;
}

.top-section {
    padding-top: 50px;
    padding-bottom: 260px;
}

.bot-section {
    padding-top: 400px;
}

.mid-section {
    padding-top: 260px;
} */