body {
    font-family: 'Muli', sans-serif;
}

.card {
    /* border: none; */
}


p {
    font-size: 1.25rem;
}

span {
    color: #397AEB;
}

.card-text {
    font-size: 1.1rem;
}

.top-section {
    padding-top: 260px;
    padding-bottom: 260px;
}

.bot-section {
    padding-top: 400px;
}

.mid-section {
    padding-top: 260px;
}